<?xml version="1.0"?>
<configuration>


	<system.web>
		<httpRuntime requestValidationMode="2.0" maxRequestLength="1048576"/>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.5"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>

				<!-- Redirect .html to clean URL -->
				<!-- <rule name="RemoveHtmlExtension" stopProcessing="true">
					<match url="^(.*)\.html$" />
					<action type="Redirect" url="{R:1}" redirectType="Permanent" />
				</rule> -->

				<!-- Internally rewrite clean URL to actual .html file -->
				 <rule name="RewriteToHtml" stopProcessing="true">
					<match url="^([_0-9a-z-]+)$" ignoreCase="true" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="{R:1}.html" />
				</rule> 

				<!--<rule name="Rewrite to index.html" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						--><!-- Ignore requests for existing files --><!--
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						--><!-- Ignore requests for existing directories --><!--
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/index.html" />
				</rule>-->

				<rule name="HTTPS force" enabled="true" stopProcessing="true">
					  <match url="(.*)"/>
					  <conditions>
						<add input="{HTTPS}" pattern="^OFF$"/>
					  </conditions>
					  <action type="Redirect" url="http://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent"/>
					</rule> 
			</rules>
		</rewrite>
	</system.webServer>
</configuration>